<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="shortcut icon" type="image/png" href="../static/img/icon.ico">
    <title>IFSULDEMINAS - linktree</title>
</head>

<body>

    <div class="container">
        <img id="previewImage" src="{{ perfil.imagem.url }}" alt="Perfil">

        <h1 class="flutuar">{{ perfil.nome }}</h1>

        <p>{{ perfil.descricao }}</p>

        <div class="social-icons">
            {% for redeSocial in redes_sociais %}
            <a target="_blank" href="{{ redeSocial.url }}">
                <i class="{{ redeSocial.icone.icone }}"></i>
            </a>
            {% endfor %}
        </div>

        <p class="chamada">{{ perfil.mensagem }}</p>

        <div class="itens-container" id="itensContainer">
            {% for link in links %}
            <div class="item-row" data-type="{{ link.tipo|lower }}">
                <a target="_blank" href="{{ link.url }}" class="item-text btn">{{ link.texto }}</a>
            </div>
            {% endfor %}
        </div>
</body>

</html>